/* .layoutFooter
-------------------------------------------------------------*/
$r: '.layoutFooter';

// block
//-----------------------------------------------------------
#{$r} {
  background-color: var(--color-base-white);
  border-top: 0.0625rem solid var(--color-base-pale-blue);

  @include media($laptop, 'max-width') {
    padding: 1rem;
  }

  @include media($laptop) {
    padding: 1rem 2rem;
  }

  // element
  //---------------------------------------------------------

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
