/* .formSecurity
-------------------------------------------------------------*/
$r: '.formSecurity';

// block
//-----------------------------------------------------------
#{$r} {
  display: grid;

  @include media($desktop, 'max-width') {
    gap: 1rem 2rem;
  }

  @include media($desktop) {
    gap: 2rem 3rem;
  }

  // element
  //---------------------------------------------------------
  &__inputs {
    display: grid;

    @include media($tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media($desktop, 'max-width') {
      gap: 1rem 2rem;
    }

    @include media($desktop) {
      gap: 2rem 3rem;
    }
  }

  &__button {
    display: grid;

    @include media($desktop, 'max-width') {
      margin-top: 1rem;
    }

    @include media($desktop) {
      grid-column: 1 / -1;
      justify-content: flex-end;
    }
  }

  &__switchers {
    gap: 1rem;
    display: flex;
    flex-direction: column;

    &Title {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
