/* .layoutHeader
-------------------------------------------------------------*/
$r: '.layoutHeader';

// block
//-----------------------------------------------------------
#{$r} {
  top: 0;
  z-index: 2;
  position: sticky;
  padding-block: 1rem;
  background-color: var(--color-base-white);
  border-bottom: 0.0625rem solid var(--color-base-pale-blue);

  @include media($laptop, 'max-width') {
    height: 4.5rem;
    padding-inline: 1rem;
  }

  @include media($laptop) {
    height: 6rem;
    padding-inline: 2rem;
  }

  // element
  //---------------------------------------------------------
  &__container {
    gap: 1rem;
    display: flex;
    align-items: center;

    @include media($desktop) {
      gap: 1.5rem;
    }
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
