/* .user
-------------------------------------------------------------*/
$r: '.user';

// block
//-----------------------------------------------------------
#{$r} {
  gap: 0.5rem;
  display: inline-flex;
  flex-direction: column;
  line-height: 1;
  font-size: 0.75rem;
  text-align: center;

  // element
  //---------------------------------------------------------
  &__photo {
    display: flex;
    justify-content: center;

    img {
      border-radius: 100%;
    }
  }

  &__name {
    color: var(--color-5);
  }

  &__post {
    color: var(--color-6);
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
