/* .creditCard
-------------------------------------------------------------*/
$r: '.creditCard';

// block
//-----------------------------------------------------------
#{$r} {
  display: flex;
  min-width: 0;
  overflow: auto hidden;

  @media (width < 63.9375rem) {
    gap: 1rem;
  }

  @media (width >= 64rem) {
    gap: 2rem;
  }

  // element
  //---------------------------------------------------------
  &__item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content 1fr max-content;
    width: 100%;
    max-width: 25.5rem;
    color: var(--base-white);
    padding: 1.5rem;
    font-family: 'Lato';
    aspect-ratio: 16 / 10;
    border-radius: 1.5rem;
    background-size:
      auto,
      100% 5rem;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: center, bottom;
    background-image:
      linear-gradient(107deg, #2d60ff 2.61%, #539bff 101.2%),
      linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);

    @media (width < 95.9375rem) {
      min-height: 14rem;
    }
  }

  &__balance {
    display: grid;

    &Title {
      font-size: 0.8rem;
    }

    &Value {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &__chip {
    display: grid;
    justify-content: center;
    font-size: 2.25rem;
  }

  &__info {
    grid-column: 1 / -1;
    gap: 4rem;
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
  }

  &__holder {
    white-space: nowrap;

    &Title {
      opacity: 0.7;
      font-size: 0.8rem;
      text-transform: uppercase;
    }

    &Name {
      max-width: 10rem;
      font-size: 1rem;
      font-weight: 600;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__validThru {
    &Title {
      opacity: 0.7;
      font-size: 0.8rem;
      white-space: nowrap;
      text-transform: uppercase;
    }

    &Date {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  &__number {
    line-height: 2rem;
    font-weight: 600;
    font-size: 1.38rem;
    white-space: nowrap;
  }

  &__logo {
    display: grid;
    font-size: 2rem;

    svg {
      width: calc(44em / 33);
    }
  }

  // modifier
  //---------------------------------------------------------
  &__isDark {
    background-image:
      linear-gradient(107deg, var(--accent-purple) 2.61%, var(--accent-blue) 101.2%),
      linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
  }

  &__isLight {
    color: var(--primary-dark);
    background: unset;
    position: relative;
    background-color: var(--base-white);
    border: 0.0625rem solid var(--base-light-blue);

    &::before {
      content: '';
      left: 0;
      right: 0;
      bottom: 5rem;
      height: 0.0625rem;
      position: absolute;
      background-color: var(--base-light-blue);
    }
  }
}

// influence
//-----------------------------------------------------------
