/* .creditCard
-------------------------------------------------------------*/
$r: '.creditCard';

// block
//-----------------------------------------------------------
#{$r} {
  display: flex;
  min-width: 0;
  padding: 1.5rem;
  margin: -1.5rem;
  overflow: auto hidden;

  @include media($laptop, 'max-width') {
    gap: 1rem;
  }

  @include media($laptop) {
    gap: 2rem;
  }

  // element
  //---------------------------------------------------------
  &__item {
    display: grid;
    width: 100%;
    min-width: 21.25rem;
    max-width: 25.5rem;
    position: relative;
    perspective: 62.5rem;
    aspect-ratio: 16 / 10;

    @include media($desktop-wide, 'max-width') {
      min-height: 14rem;
    }

    &:hover {
      #{$r}__inner {
        transform: rotateY(180deg);
      }
    }
  }

  &__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content 1fr max-content;
    color: var(--color-base-white);
    font-family: var(--font-family-secondary);
    position: relative;
    border-radius: var(--border-radius-large);
    background-size:
      auto,
      100% 5rem;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: center, bottom;
    background-image: var(--gradient-secondary);
    transition: transform 0.4s ease-in-out;
    transform-style: preserve-3d;
    container-type: inline-size;
  }

  &__back,
  &__front {
    display: grid;
    align-items: center;
    inset: 0;
    padding: 1.5rem;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
  }

  &__back {
    gap: 1rem;
    display: grid;
    align-content: end;
    grid-template-columns: 1fr 3.5rem;
    transform: rotateY(180deg);

    &Code,
    &Signature {
      display: grid;
      align-items: center;
      justify-content: center;
      height: 2.5rem;
      line-height: 1;
      color: var(--color-text-primary);
      border-radius: var(--border-radius-small);
      background-color: var(--color-base-light-gray);
    }

    &Signature {
      font-size: clamp(2rem, 16cqw, 3rem);
      line-height: 0;
      font-family: Dafoe;
      white-space: nowrap;
      pointer-events: none;
    }

    &Code {
      font-weight: 600;
    }
  }

  &__front {
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content 1fr max-content;

    &Balance {
      display: grid;

      &Title {
        font-size: 0.8rem;
      }

      &Value {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }

    &Chip {
      display: grid;
      justify-content: center;
      font-size: 2.25rem;
    }

    &Info {
      grid-column: 1 / -1;
      gap: 4rem;
      display: flex;
      align-items: center;
      padding-bottom: 1.5rem;
    }

    &Holder {
      white-space: nowrap;

      &Title {
        opacity: 0.7;
        font-size: 0.8rem;
        text-transform: uppercase;
      }

      &Name {
        max-width: 10rem;
        font-size: 1rem;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &ValidThru {
      &Title {
        opacity: 0.7;
        font-size: 0.8rem;
        white-space: nowrap;
        text-transform: uppercase;
      }

      &Date {
        font-size: 1rem;
        font-weight: 600;
      }
    }

    &Number {
      line-height: 2rem;
      font-weight: 600;
      font-size: 1.38rem;
      white-space: nowrap;
    }

    &Logo {
      display: grid;
      font-size: 2rem;

      svg {
        width: calc(44em / 33);
      }
    }
  }

  // modifier
  //---------------------------------------------------------
  &__isDark {
    background-image: var(--gradient-primary);
  }

  &__isLight {
    color: var(--color-primary-dark);
    background: unset;
    position: relative;
    background-color: var(--color-base-white);
    border: 0.0625rem solid var(--color-base-light-blue);

    &::before {
      content: '';
      left: 0;
      right: 0;
      bottom: 5rem;
      height: 0.0625rem;
      position: absolute;
      background-color: var(--color-base-light-blue);
    }
  }
}

// influence
//-----------------------------------------------------------
