/* .title
-------------------------------------------------------------*/
$r: '.title';

// block
//-----------------------------------------------------------
#{$r} {
  color: var(--color-5);
  font-size: clamp(1.25rem, 2.5vw, 1.375rem);
  font-weight: 600;

  // element
  //---------------------------------------------------------

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
