/* .aboutMyWork
-------------------------------------------------------------*/
$r: '.aboutMyWork';

// block
//-----------------------------------------------------------
#{$r} {
  display: grid;

  // element
  //---------------------------------------------------------
  ul {
    gap: 0.5rem;
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      gap: 0.5rem;
      display: flex;
      align-items: center;

      i {
        font-size: 1.5rem;
        font-style: normal;
      }
    }
  }
  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
