/* .layoutRow
-------------------------------------------------------------*/
$r: '.layoutRow';

// block
//-----------------------------------------------------------
#{$r} {
  display: flex;
  flex-direction: column;
  min-width: 0;

  @include media($laptop, 'max-width') {
    gap: 1rem;
  }

  @include media($laptop) {
    gap: 1rem 2rem;
  }

  // element
  //---------------------------------------------------------

  // modifier
  //---------------------------------------------------------
  &__isFinancialOverview {
    overflow: auto hidden;

    @include media($laptop, 'max-width') {
      flex-direction: row;
    }

    @include media($laptop) {
      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__isGridColumnFull {
    @include media($laptop) {
      grid-column: 1 / -1;
    }
  }
}

// influence
//-----------------------------------------------------------
