/* .formAddNewCard
-------------------------------------------------------------*/
$r: '.formAddNewCard';

// block
//-----------------------------------------------------------
#{$r} {
  display: grid;
  align-content: safe;

  @include media($desktop, 'max-width') {
    gap: 1rem 2rem;
  }

  @include media($desktop) {
    gap: 2rem 3rem;
  }

  // element
  //---------------------------------------------------------
  &__description {
    color: var(--color-primary-light);
    line-height: 1.6;
    text-wrap: pretty;
  }

  &__inputs {
    display: grid;

    @include media($tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media($desktop, 'max-width') {
      gap: 1rem 2rem;
    }

    @include media($desktop) {
      gap: 2rem 3rem;
    }
  }

  &__button {
    display: grid;

    @include media($desktop, 'max-width') {
      margin-top: 1rem;
    }

    @include media($desktop) {
      grid-column: 1 / -1;
      justify-content: flex-end;
    }
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
