/* .main
-------------------------------------------------------------*/
$r: '.main';

// block
//-----------------------------------------------------------
#{$r} {
  min-width: 0;
  background-color: var(--color-3);

  @media (width < 61.9375rem) {
    padding: 1rem;
  }

  @media (width >= 62rem) {
    padding: 2rem;
  }

  // element
  //---------------------------------------------------------
  &__container {
    width: 100%;
    max-width: 120rem;
    margin-inline: auto;
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
