/* .swiperSlider
-------------------------------------------------------------*/
$r: '.swiperSlider';

// block
//-----------------------------------------------------------
#{$r} {
  --swiper-theme-color: var(--color-8);
  flex-grow: 1;
  position: relative;

  // element
  //---------------------------------------------------------
  > * {
    inset: 0;
    position: absolute;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
