/* .copyright
-------------------------------------------------------------*/
$r: '.copyright';

// block
//-----------------------------------------------------------
#{$r} {
  display: flex;

  @include media($mobile, 'max-width') {
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
  }

  @include media($mobile) {
    gap: 1rem;
    justify-content: space-between;
  }

  // element
  //---------------------------------------------------------
  &__year,
  &__link {
    color: var(--color-primary-light);
    font-size: 0.88rem;
  }

  &__link {
    text-align: center;
    transition: color 0.3s;

    &:hover {
      color: var(--color-primary-dark);
    }
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
