/* .header
-------------------------------------------------------------*/
$r: '.header';

// block
//-----------------------------------------------------------
#{$r} {
  top: 0;
  z-index: 2;
  padding: 1rem;
  position: sticky;
  background-color: var(--color-1);
  border-bottom: 0.0625rem solid var(--color-4);

  @media (width >= 62rem) {
    padding-inline: 2rem;
  }

  // element
  //---------------------------------------------------------
  &__container {
    gap: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 120rem;
    margin-inline: auto;

    @media (width >= 75rem) {
      gap: 1.5rem;
    }
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
