/* vars
-------------------------------------------------------------*/
:root {
  --color-1: #ffffff;
  --color-2: #232323;
  --color-3: #f5f7fa;
  --color-4: #e6eff5;
  --color-5: #343c6a;
  --color-6: #718ebf;
  --color-7: #999999;
  --color-8: #2d60ff;
  --color-9: #ff4b4a;
  --color-10: #dfeaf2;
  --color-11: #16dbcc;
  --color-12: #ff82ac;
  --color-13: #ffbb38;
  --color-14: #4c49ed;
  --color-15: #0a06f4;
  --color-16: #9199af;
  --color-17: #16dbaa;

  // &[data-theme='light'] {
  //   --color-primary: var(--color-primary-light);
  //   --background-color: var(--background-light);
  //   --text-color: var(--text-light);
  // }

  // &[data-theme='dark'] {
  //   --color-primary: var(--color-primary-dark);
  //   --background-color: var(--background-dark);
  //   --text-color: var(--text-dark);
  // }
}

/* breakpoints
-------------------------------------------------------------*/
/*
max-width: 374px => max-width: 23.380rem
min-width: 375px => min-width: 23.4380rem

max-width: 639px => max-width: 39.9375rem
min-width: 640px => min-width: 40rem

max-width: 767px => max-width: 47.9380rem
min-width: 768px => min-width: 48rem

max-width: 1023px => max-width: 63.9375rem
min-width: 1024px => min-width: 64rem

max-width: 1279px => max-width: 79.9380rem
min-width: 1280px => min-width: 80rem

max-width: 1535px => max-width: 95.9375rem
min-width: 1536px => min-width: 96rem
*/
