/* .bankServicesList
-------------------------------------------------------------*/
$r: '.bankServicesList';

// block
//-----------------------------------------------------------
#{$r} {
  margin-block: -1rem;
  overflow: auto hidden;

  // element
  //---------------------------------------------------------
  table {
    border-spacing: 0 1rem;
    border-collapse: separate;

    @media (width >= 96rem) {
      table-layout: fixed;
    }

    tr {
      td {
        padding: 1rem;
        background-color: var(--color-1);

        &:first-of-type {
          width: 4.5rem;
          min-width: 4.5rem;
          padding-right: 0;
          border-radius: 1rem 0 0 1rem;
        }

        &:last-of-type {
          border-radius: 0 1rem 1rem 0;
        }
      }
    }
  }

  &__icon {
    display: flex;

    svg {
      font-size: 3.5rem;
      border-radius: 1rem;

      &[data-icon='IconLoan'] {
        color: var(--color-11);
        box-shadow: inset 0 0 0 100vw color-mix(in srgb, var(--color-11), var(--color-1) 80%);
      }

      &[data-icon='IconExpense'],
      &[data-icon='IconCreditCard'] {
        color: var(--color-8);
        box-shadow: inset 0 0 0 100vw color-mix(in srgb, var(--color-8), var(--color-1) 80%);
      }

      &[data-icon='IconSafety'] {
        color: var(--color-12);
        box-shadow: inset 0 0 0 100vw color-mix(in srgb, var(--color-12), var(--color-1) 80%);
      }

      &[data-icon='IconSaving'] {
        color: var(--color-13);
        box-shadow: inset 0 0 0 100vw color-mix(in srgb, var(--color-13), var(--color-1) 80%);
      }
    }
  }

  &__title {
    font-weight: 500;
    white-space: nowrap;
  }

  &__value {
    color: var(--color-6);
    font-size: 0.88rem;
    white-space: nowrap;
  }

  &__button {
    display: flex;

    @media (width >= 80rem) {
      justify-content: flex-end;
    }
  }

  // modifier
  //---------------------------------------------------------
  &__isRed {
    color: var(--color-9);
  }

  &__isGreen {
    color: var(--color-17);
  }
}

// influence
//-----------------------------------------------------------
