/* .footer
-------------------------------------------------------------*/
$r: '.footer';

// block
//-----------------------------------------------------------
#{$r} {
  background-color: var(--color-1);
  border-top: 0.0625rem solid var(--color-4);

  @media (width < 61.9375rem) {
    padding: 1rem;
  }

  @media (width >= 62rem) {
    padding: 1rem 2rem;
  }

  // element
  //---------------------------------------------------------
  &__container {
    width: 100%;
    max-width: 120rem;
    margin-inline: auto;
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
