/* .layoutAside
-------------------------------------------------------------*/
$r: '.layoutAside';

// block
//-----------------------------------------------------------
#{$r} {
  display: grid;
  position: relative;
  border-right: 0.0625rem solid var(--color-base-pale-blue);

  @include media($laptop, 'max-width') {
    inset: 0;
    top: 4.438rem;
    z-index: 9;
    position: fixed;
    overflow: hidden auto;
    backdrop-filter: blur(0.125rem);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  @include media($laptop) {
    grid-row: 1 / -1;
  }

  // element
  //---------------------------------------------------------
  &__container {
    display: grid;
    align-content: start;
    inset: 0;
    position: absolute;
    overflow: hidden auto;
    background-color: var(--color-base-white);

    @include media($laptop, 'max-width') {
      gap: 1rem;
      grid-template-columns: 1fr max-content max-content max-content;
      padding: 1rem;
      padding-bottom: 3rem;
      max-width: clamp(375px, 100vw, 20rem);
      transform: scale(0.9);
      transition:
        transform 0.3s,
        border-radius 0.3s;
    }

    @include media($laptop) {
      gap: 2rem;
      padding: 2rem;
    }
  }

  &__toggle {
    display: none;
    inset: 0;
    position: absolute;

    @include media($laptop, 'max-width') {
      display: block;
    }
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
:has([id='navToggle']:checked) {
  #{$r} {
    opacity: 1;
    pointer-events: all;

    &__container {
      transform: scale(1);
    }
  }
}
